body{
    background-color: rgb(243, 243, 243);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: rgb(128, 128, 128);
}
.main{
    margin: 50px 20px;
    padding: 10px 50px 100px 50px;
    background-color: rgb(255, 255, 255);    
}
div#goodDay{
    margin: 50px 20px;
    padding: 10px 50px 100px 50px;
    background-color: rgb(255, 242, 231);    
}
div#sosoDay{
    margin: 50px 20px;
    padding: 10px 50px 100px 50px;
    background-color: rgb(240, 255, 243);    
}
div#badDay{
    margin: 50px 20px;
    padding: 10px 50px 100px 50px;
    background-color: rgb(224, 245, 255);    
}
p.prm{
    padding: 10px;
}
p.souhyou{
    margin-top: 50px;
}